[submodule ".vim/pack/start/jedi-vim"]
	path = .vim/pack/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/pack/foo/start/jedi-vim"]
	path = .vim/pack/foo/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/pack/opt/jedi-vim"]
	path = .vim/pack/opt/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/pack/opt/foo/jedi-vim"]
	path = .vim/pack/opt/foo/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/pack/vim-airline/start/vim-airline"]
	path = .vim/pack/vim-airline/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule ".vim/pack/jedi-vim/start/jedi-vim"]
	path = .vim/pack/jedi-vim/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
