[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sanxiago/Desktop/uscis]
row=3
col=5

[6AE6E76128515B4D]
row=4
col=0

[3188-B182]
row=3
col=0

[Trash]
row=2
col=0

[/]
row=0
col=0

[/home/sanxiago]
row=1
col=0

