[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sanxiago/insurance_card_front.pdf]
row=5
col=0

[/home/sanxiago/faxes.tar.gz]
row=3
col=1

[/home/sanxiago/OpenDocument Spreadsheet.ods]
row=7
col=1

[/home/sanxiago/CTGP]
row=0
col=2

[/home/sanxiago/santiago_velasco_2018-2019_cloudera_enterprise_license.tar]
row=7
col=0

[/home/sanxiago/README.md]
row=6
col=0

[/home/sanxiago/home]
row=3
col=2

[/home/sanxiago/Plain Text.txt]
row=6
col=1

[/home/sanxiago/filedb]
row=8
col=0

[/home/sanxiago/exo-terminal-emulator.desktop]
row=1
col=2

[/home/sanxiago/statefarm.pdf]
row=1
col=1

[/home/sanxiago/conversiones_audio.txt]
row=3
col=0

[/home/sanxiago/NextDocument.pdf]
row=4
col=0

[/home/sanxiago/list_of_files.txt]
row=2
col=1

[/home/sanxiago/hardcopy.0]
row=0
col=1

[/home/sanxiago/minecraft]
row=5
col=1

[/home/sanxiago/UNIX-Network-Programming-Stevenson.mobi]
row=4
col=1

[/home/sanxiago/OpenDocument Text.odt]
row=8
col=1

[/home/sanxiago/setup.sh]
row=2
col=2

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/sanxiago]
row=2
col=0

