[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sanxiago/Desktop/usb]
row=3
col=0

[/home/sanxiago/Desktop/cv_santiago_velasco.pdf]
row=0
col=2

[/home/sanxiago/Desktop/RSD-Lite-Mac-Linux]
row=1
col=1

[/home/sanxiago/Desktop/DNS]
row=4
col=0

[/home/sanxiago/Desktop/uscis]
row=3
col=1

[/home/sanxiago/Desktop/steam.desktop]
row=0
col=1

[/home/sanxiago/Desktop/consumo]
row=4
col=1

[646D-388F]
row=2
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/sanxiago]
row=2
col=0

