[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sanxiago/Desktop/usb]
row=3
col=0

[/home/sanxiago/Desktop/RSD-Lite-Mac-Linux]
row=4
col=0

[/home/sanxiago/Desktop/https___www.choicehotels.pdf]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/sanxiago]
row=2
col=0

