[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sanxiago/peli]
row=1
col=1

[/home/sanxiago/eswiki-20180120-pages-meta-current.xml.bz2.aria2]
row=6
col=0

[/home/sanxiago/traceroute_google]
row=0
col=1

[/home/sanxiago/training_python]
row=8
col=0

[/home/sanxiago/faxes.tar.gz]
row=7
col=0

[/home/sanxiago/santiago_velasco_2018-2019_cloudera_enterprise_license.tar]
row=9
col=0

[e329855a-0c7f-4ca3-9a58-afc6bd543d7d]
row=1
col=0

[86ce9513-0c35-4802-aa79-93b908dba547]
row=0
col=0

[Trash]
row=4
col=0

[/]
row=2
col=0

[/home/sanxiago]
row=3
col=0

