[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/sanxiago/Desktop/Fotos]
row=3
col=1

[/home/sanxiago/Desktop/uscis]
row=5
col=0

[/home/sanxiago/Desktop/Historia_Familiar]
row=2
col=1

[/home/sanxiago/Desktop/usb_linksys_entware]
row=6
col=0

[/home/sanxiago/Desktop/cluster]
row=0
col=1

[/home/sanxiago/Desktop/Kérkennai]
row=1
col=1

[2018-10-15-14-33-14-03]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/sanxiago]
row=3
col=0

